/* Bootstrap */
@import "../config/theme";
@import "~bootstrap/scss/bootstrap.scss";

/* Imports */
@import "../assets/fonts/silka-roman/stylesheet.css";
@import "./hamburgers.css";

/* General styling */

body {
  margin: 0;
  width: 100vw;
  font-family: "silka", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

button {
  font-weight: 600 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1 {
  b {
    @extend .text-gradient-0;
    font-weight: inherit;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small {
  font-size: 0.88em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.text-muted {
  color: $muted !important;
}

.article-cell .text-muted {
  color: #7c89a6 !important;
}

.text-gradient-0 {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(254,158,94,1) 0%, rgba(254,94,114,1) 94.3% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//.rounded {
  //border-radius: 16px !important;
//}

//.rounded-max {
//  border-radius: 200px;
//}

.bg-clear {
  background: $background;
}
.bg-clear-2 {
  background: #e5dfdf;
}

.project-cell__category {
  background: $muted;
  border-radius: 20px;
  padding: 1px 8px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

.gb-wave {
  background-image: url("/images/bottom-wave.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 102%;
}

.bg-img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

$bg-hover-opacity: 0.5;
.bg-text-hover {
  background-image: radial-gradient( circle 902px at 20% 80%,  rgba(18,50,90,$bg-hover-opacity) 0%, rgba(207,199,252,$bg-hover-opacity) 100.2% );
}

.bg-dark-clear {
  background: $dark-clear;
}

.hamburger {
  transform: scale(0.6);
  display: inline-block;
  margin-bottom: -4px;
}

.green-dot {
  width: 8px;
  height: 8px;
  background: $success;
  border-radius: 50%;
}

.animated {
  transition-duration: 0.2s;
}

#contact-page {
  .form-control {
    border-color: $dark;
    &::placeholder {
      color: $muted;
    }
  }
  .form-label {
    font-weight: 600;
  }
}

.social-outer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
}


.my-masonry-grid {
  display: flex;
  margin-left: -24px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;

  > li {
    margin-bottom: 24px;
  }
}

a {
  text-decoration: none !important;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.tag {
  @extend .small;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  background: $background;
  color: $muted;
  font-weight: 500;
  border-radius: 6px;
  padding: 2px 8px;
}

button {
  background: transparent;
  border: 0;
}

button:focus {outline:0;}

h2 {
  font-weight: 600;
}
.opacity-0 {
  opacity: 0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-20 {
  opacity: 0.2; }

.opacity-30 {
  opacity: 0.3; }

.opacity-40 {
  opacity: 0.4; }

.opacity-50 {
  opacity: 0.5; }

.opacity-60 {
  opacity: 0.6; }

.opacity-70 {
  opacity: 0.7; }

.opacity-80 {
  opacity: 0.8; }

.opacity-90 {
  opacity: 0.9; }

.opacity-100 {
  opacity: 1; }

.terminal-command--blue {
  color: #99ecfd;
}
.terminal-command--purple {
  color: #c9a8fa;
}
.terminal-command--red {
  color: #ff6d67;
}
.terminal-command--gray {
  color: #e5dfdf;
}
